* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
 background: linear-gradient(135deg, #000000, #000000e1, #280430);
  color: #f0f0f0;
  line-height: 1.6;
}
